@import "node_modules/bootstrap-utilities/bootstrap-utilities";

$primary: #133C9A;
$secondary: #157A6E;
$danger-highlight: #FF6F56;
$info: #FFADAD;
$background: #87BCDE;
$input-bg: #eeeef3;
$light-outer-shadow: 1px 2px 4px lightgrey;

@font-face{
  font-family: 'aileron-heavy';
  src: local('aileron'), url('../../assets/fonts/aileron/Aileron-Heavy.otf');
}

@font-face{
  font-family: 'aileron-thin';
  src: local('aileron'), url('../../assets/fonts/aileron/Aileron-Thin.otf');
}

@font-face{
  font-family: 'aileron-regular';
  src: local('aileron'), url('../../assets/fonts/aileron/Aileron-Regular.otf');
}

@font-face{
  font-family: 'aileron-italic';
  src: local('aileron'), url('../../assets/fonts/aileron/Aileron-Italic.otf');
}

h2, h3{
  font-family: 'aileron-regular';
}

h4, h5{
  font-family: 'aileron-italic';
}

p{
  font-family: 'aileron-thin';
}

h1{
  font-family: 'aileron-heavy';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

.flex-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pos-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-primary{
  color: $primary !important;
}

.text-secondary{
  color: $secondary !important;
}

.text-info{
  color: $info !important;
}

.text-danger, .text-highlight{
  color: $danger-highlight !important;
}

.bg-primary{
  background-color: $primary !important;
}

.bg-secondary{
  background-color: $secondary !important;
}

.bg-danger, .bg-highlight{
  background-color: $danger-highlight !important;
}

.bg-info{
  background-color: $info !important;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.lh-2{
  line-height: 2;
}

.to-back{
  z-index: -1;
}

.to-front{
  z-index: 1;
}

.page-bg{
  background-color: $background;
  z-index: -1;
}

@mixin default-input{
  outline: none;
  font-weight: bold;
  width: 100%;
  border-radius: 7px;
  border: none;
  box-shadow: $light-outer-shadow;
}
