@import '../../components/app/app.scss';

.landing-title{
    font-size: 5rem;
}

input[name='newsletter-signup'] {
    @include default-input();
    background-color: $input-bg;
    padding: 1.2rem;
  }
  